header
    font-family: 'Ossem-Rounded', sans-serif
    max-height: 70px
.navbar-bg
    background: radial-gradient(117.23% 267.04% at 6.61% 9.89%, rgba(255, 190, 181, 0.2) 0%, rgba(232, 217, 202, 0.2) 100%)
    backdrop-filter: blur(65px)
    border-radius: 20px
.navbar-brand img
    max-width: 130px
.nav-link
    font-size: 16px
    font-weight: 400
    color: $black !important
.active-nav
    color: $red !important
    text-decoration: underline
.nav-link:hover
    color: $red !important 

/* Navbar BTN */
.nav-link-btn_1, .nav-link-btn_2
    text-decoration: none
    color: $red
    font-size: 16px
    font-weight: 400
.nav-link-btn_1
    padding: 13px 30px
    border: 1px solid $red
    border-radius: 1000px
    transition: .3s
.nav-link-btn_1:hover
    color: $white
    background: $red
.nav-link-btn_2:hover
    color: $red

