/* Start section Site */
.start
    height: calc( 100vh - 70px )
    align-items: center
    &__description
        margin-top: 20px
        margin-bottom: 30px
    &__btn
        padding: 13px 30px
        border: 1px solid $red
        border-radius: 1000px
        background: $red
        transition: .3s
        color: $white
    &__btn:hover
        background: $white
        color: $red
    &__img
        max-width: 600px