body 
    font-family: 'Montserrat', sans-serif
h1, h2, h3, h4, h5, h6
    font-family: 'Ossem-Rounded', sans-serif
h2
    font-size: 40px
    font-weight: normal
    line-height: 120%
h5
    font-size: 24px
p
    font-size: 16px
    line-height: 160%
a
    text-decoration: none
a:hover 
    text-decoration: none
.form-control
    border-radius: 100px
    border: none
    padding: 14px 20px
@import 'color'
@import 'header'
@import 'section'
@import 'footer'
@import 'mobile'